/*
Gallery slider
==============================================
Styling for gallery slider component.
Displays images in a slider gallery with thumbnail navigation.
based on "base-slider" component and "tiny-slider" (https://github.com/ganlanyuan/tiny-slider)
*/

.gallery-slider-container:not(.tns-slider) {
    .gallery-slider-item-container:not(:first-child) {
        display: none;
    }
}

.gallery-slider-thumbnails:not(.tns-slider) {
    width: calc(133.333%);
    .gallery-slider-thumbnails-item {
        width: calc(12.5%);
        padding-right: 10px;
    }
}


/*
.gallery-slider-thumbnails-container {
    .gallery-slider-thumbnails-controls {
        display: none;
    }
}

*/
